html,
body {
    height: 100%;
    font-size:1em;
    box-sizing: border-box;
    font-family: sans-serif;

    /* om alles in het midden te zetten */
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}
img{ /* voor het logo */
    margin-left: -80px;
    width:450px;
    margin-bottom:-20px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.left{
    margin-left: -139px;
}
/* danger alert*/
